body {
  background-image: url(/assets/butterfly.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.box {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

.text {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  color: rgb(182, 142, 184);
  line-height: 150px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(/assets/butterfly-mobile.jpeg);
  }
  .box {
    bottom: 10%;
    right: 10%;
  }

  .text {
    line-height: 100px;
    font-size: 60px;
  }
}
